*{
    font-family: Helvetica Neue,Noto Naskh Arabic UI,Arial,sans-serif;
    margin: 0px;
    padding: 0px;
}

input[type=submit]{
    background-color: #ebedf0;
    border: 1px solid #f8f9fa;
    cursor: pointer;
    width: 15em;
    height: 2em;
    border-radius: 4px;
    font-family: Helvetica Neue,Noto Naskh Arabic UI,Arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    }
.text{
    border-color: #d1d2d3 ;
    border-style: solid;
    width: 25em;
    height: 1.75em;
    border-radius: 45px ;
    font-size: 25px;
    padding-left: 35px;
    padding-right: 25px; 
}

.text:hover{
    box-shadow:  1px 1px 10px rgb(163, 162, 162);
    border-radius: 45px ;
    border:  solid #d1d2d3;
}

.logo{  
 margin-top: 20vh;
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
}

#logo{
    width: 35px;
    height: 35px;
    border-radius: 17px;
    padding: 0px;
}

.top{
    display:flex ;
    margin: 3%;
    text-decoration: none;
    font-family: Helvetica Neue,Noto Naskh Arabic UI,Arial,sans-serif;
}

/* Advance search css */

.container{
    margin: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color:#333;}

.container_home{
    display: flex;
    align-items: center;
    height: 50vh;   
    }

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    font-size: 14px;
    font-family: arial,sans-serif;
  }
  
  .column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    align-items: flex-start;
    
  }

  .icon{
      width: 32px;
      height: 32px;
      padding: 10px;
  }

  a{
      text-decoration: none;
      padding: 10px;
      padding-top: 19px;
      font-family: arial,sans-serif;
      font-size: 14px;
      color: black;
  }

.border{
    border-radius: 1px;
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
    font-size: 13px;
    height: 25px;
    padding: 1px 8px;
    color: -internal-light-dark(black, white);
    display: inline-block;
    background-color: -internal-light-dark(rgb(255, 255, 255), rgb(59, 59, 59));
    position: absolute;
    width: 200px;
}

.grid_cont{
display: grid;
column-gap: 15px;
grid-template-columns: 190px 425px 300PX;
row-gap: 30px;
padding-left: 30px;
}

.info{
    font-size: 12px;
}
.button{
    height: 30px;
    min-width: 120px;
    float: right;
    margin: 10px 0;
    background-color: #4d90fe;
    border: 1px solid #3079ed;
    color: #fff;
    border-radius: 2px;
    cursor: default;
    font-size: 11px;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
    appearance: auto;
    box-sizing: border-box;
    margin-left: 500px;
}

.border:focus {
    outline: none !important;
    border:1px solid#3079ed;
    box-shadow: 0 0 2px #719ECE;
  }

  @media screen and (max-width:700px) {
      #tr,.info{
         visibility: hidden;
      } 
  }
