*{
    font-family: Helvetica Neue,Noto Naskh Arabic UI,Arial,sans-serif;
    margin: 0px;
    padding: 0px;
}
.div_style {
 margin-top: 5vh;
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
}

.item_div{
    margin-top: 1em;
    
}

input[type="submit"]{
    background-color: #ebedf0;
    border: 1px solid #f8f9fa;
    cursor: pointer;
    width: 15em;
    height: 2em;
    border-radius: 4px;
    font-family: Helvetica Neue,Noto Naskh Arabic UI,Arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
}
.text{
    border-color: #d1d2d3 ;
    border-style: solid;
    width: 25em;
    height: 1.75em;
    border-radius: 45px ;
    font-size: 25px;
    padding-left: 25px;
    padding-right: 25px;
    
    
}

.text:hover{
    box-shadow:  1px 1px 10px rgb(163, 162, 162);
    border-radius: 45px ;
    border:  solid #d1d2d3;
}


.logo{
   
 margin-top: 20vh;
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
 
}

.top{
    margin: 25px;
    padding: 5px;
    display: flex-wrap;
    justify-content: right;
    text-decoration: none;
    font-size: large;
    font-family: Helvetica Neue,Noto Naskh Arabic UI,Arial,sans-serif;
    font-size: 14px;
    color: rgb(131, 130, 130);
    
}

#logo{
    width: 35px;
    height: 35px;
    border-radius: 17px;
    padding: 0px;
}

.container{
    display: flex;
    flex-direction: row;
    margin: 20px;
}

.first_cl{
    width: 20%;
}

.second_cl{
    width: 30%;
}